h1 {
  color: #07F6CA;
  text-align: center;
  background-color: orange;
  text-shadow: 10px;
}
h2 {
  color: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
  text-align: center;
  font-style: italic;
}
p {
  font-family: sans-serif;
  text-align: center;
}
ul {
  line-height: 40px;
  text-decoration: underline%;
}
img {
  width: 800px;
  height: 600px;
}
table {
  text-align: center;
  font-style: normal;
  border: collapse;
  font-family: sans-serif;
}
td, th {
  border: 1px solid #0DF4CA;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background: #0DF4CA;
}
tr td:hover {
background: #F4A40D 
}
